body .container
{
    max-width: 630px;
    min-width: 630px;
}

.style
{
    font-family: "Century Gothic", Helvetica, sans-serif;
}
.font-11
{
    font-size: 11px;
}
.font-14
{
    font-size: 14px;
}

/* .ms-60
{
    margin-left: 100px;
} */
.h-full
{
    min-height: 800px;
}
.h-full-700
{
    min-height: 700px;
}

.bg-darkGray
{
    background-color: #353D48;
    color: white;
}
.textColor
{
    color: #515151;
}
.w-200
{
    width: 250px;
}
.transparent
{
    background-color: rgba(0, 0, 0, 0.3);
}
